#root{
  display: flex;
  flex-flow: column;
  width: 100vw;
  margin: 0;
  padding: 1rem;
  overflow-x: clip;
  padding-bottom: 0;
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 200,
  'opsz' 48
}

.home_nav{
  display: grid;
  height: 2rem;
  width: calc(100% - 4rem);
  justify-content: space-between;
  align-items: center;
  grid-template-rows: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin: 1rem;
  position: fixed;
  float: left;
  top:  0.75rem;
}

.home_nav_status{
  justify-self: flex-start;
}
.home_nav_clock{
  justify-self: center;
}
.home_nav_media{
  justify-self: flex-end;
  display: flex;
  align-items: center;
  flex-flow: row;
  gap: 0.5rem;
}
.home_nav_media_icon{
  transform: scale(1.25);
}
.home_nav_media p{
  height: 1.75rem;
  width: 2rem;
  align-text: center;
}

.home_tiles{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 1rem;
  margin-top: 4rem;
  height: calc(100vh - 4rem);
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-snap-type: y mandatory;
  scroll-padding: 1rem;
  margin-bottom: 0;
  padding-bottom: 3rem;
}
.home_tiles::-webkit-scrollbar {
  display: none;
}
/* .home_tiles::after{ */
/*   content: ""; */
/*   display: block; */
/*   height: 2rem; */
/*   background-image: linear-gradient(transparent, #0000004a); */
/*   position: absolute; */
/*   bottom: 1rem; */
/*   width: 93%; */
/* } */

.tile{
  display: flex;
  scroll-snap-align: start;
  background-color: var(--tile);
  backdrop-filter: blur(32px);
  box-shadow: 0 0 1rem 0.25rem rgba(0,0,0,0.25);
  height: 27rem;
  /* padding: 1rem 1.5rem; */
  border-radius: 1.5rem;
  transition: all 0.25s ease-out;
  overflow-x: hidden;
}
.tile:focus{
  box-shadow: 0 0 1rem .5rem rgba(0,0,0,0.25);
  transform: scale(1.05);
}
.tile_medium{
  grid-column: span 2;
}

.weather{
  display: grid;
  grid-template-rows: 3fr 1fr 1fr 1fr;
  width: 100%;
  gap: 0.5rem;
  margin: 1rem 1.5rem;
}
.weather_icon{
  grid-row: 1;
  align-self: flex-end;
}
.weather_icon span{
  font-size: 17.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.weather_desc{
  text-transform: capitalize;
  font-size: 1.25rem;
  font-weight: 500;
}
.weather_inforow{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 2rem;
}
.weather_location{
  grid-row: 2;
  max-height: 3.5rem;
  overflow-x: hidden;
  overflow-y: hidden;
  text-overflow: ellipsis;
}
.weather_city{
  font-size: 3rem;
  font-weight: 700;
  margin-right: .5rem;
}
.weather_text{
  font-size: 1.95rem;
  align-self: baseline;
  font-weight: 700;
  margin: 0;
  display: flex;
  gap: .25rem;
  flex-flow: column;
  align-items: flex-start;
  margin-top: .5rem;
}
.weather_text small{
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: -.75rem;
}
.weather_inforow_second .weather_text{
  font-size: 2.5vw !important;
  font-weight: 600;
}



.spotify{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5vw;
  width: 100%;
  /* overflow: hidden; */
  margin: 1rem;
}
.spotify_albumArt{
  grid-column: 1;
  border-radius: .5rem;
  grid-row: 1;
  align-self: center;
  height: 100%;
  max-height: 26rem;
  aspect-ratio: 1/1;
  box-shadow: 0 0 0.75rem 0.5rem rgba(0,0,0,0.25);
}
.spotify_info{
  display: flex;
  flex-flow: column;
  margin: 0.5rem 0;
  gap: .5rem;
}
.spotify_title{
  font-size: 3.5vw;
  font-weight: 700;
  display: flex;
  align-items: flex-start;
  height: min-content;
  max-height: 4rem;
}
.spotify_artist{
  font-size: 1.25rem;
  height: min-content;
  font-weight: 600;
  margin: 0 0.25vw;
  max-height: 1.5rem;
  display: flex;
  align-items: flex-start;
}



