#root{
  display: flex;
  flex-flow: column;
  width: 100vw;
  margin: 0;
  padding: 1rem;
  overflow-x: clip;
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 200,
  'opsz' 48
}

.home_nav{
  display: grid;
  height: 2rem;
  width: calc(100% - 2rem);
  justify-content: space-between;
  align-items: center;
  grid-template-rows: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin: 1rem;
}

.home_nav_status{
  justify-self: flex-start;
}
.home_nav_clock{
  justify-self: center;
}
.home_nav_media{
  justify-self: flex-end;
  display: flex;
  align-items: center;
  flex-flow: row;
  gap: 0.5rem;
}
.home_nav_media_icon{
  transform: scale(1.25);
}
.home_nav_media p{
  height: 1.75rem;
  width: 2rem;
  align-text: center;
}

.home_tiles{
  display: grid;
  
}
 
